.faceDown {
  background-image: url(../assets/bg.svg);
  background-size: 30%;
  background-color: oklch(var(--p));
  border-radius: 10px;
}

.faceDown :first-child {
  visibility: hidden;
}

.notVisible {
  visibility: hidden;
}