body {
  font-family: Segoe, "Segoe UI", Verdana, sans-serif;
  text-align: center;
  margin: 0px
}

.main {
  max-width: 1200px;
  margin: min(5vh, 200px) auto; 
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 14px;
  font-size: 2em;
}

.buttons {
  /* Is there a better layout option for content in a grid? */
  display: flex;
  justify-content: end;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
}

.grid img {
  height: 150px;
  -webkit-user-drag: none;
}

.cleared {
  visibility: hidden;
}

footer, footer a {
  margin-top: min(3vh, 200px);
  color:darkgrey
}

dialog {
  margin-top: min(20vh, 200px);
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  border-color: lightgray;
  padding: 20px;
  max-width: 50vw;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

form {
  display: inline-block;
}

.example{
  color: darkgrey;
}