body {
  font-family: Segoe, "Segoe UI", Verdana, sans-serif;
  text-align: center;
  margin: 0px
}

.main {
  /* max-width: 1140px; */
  max-width: 1000px;
  margin: auto;
  margin-top: min(5vh, 200px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 14px;
  font-size: 2em;
}

.header .buttons {
  /* Is there a better layout option for content in a grid? */
  display: flex;
  justify-content: end;
}

.grid img {
  height: 100px;
}