html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  max-width: 80rem;
  margin: auto;
  height: 100%;
}

body {
  text-align: center;
  margin: 2vh;
  height: 100%;
  overflow: hidden;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 14px 0 px;
}

select {
  width:fit-content;
}

#stopwatch {
  font-size: 2em;
}

.buttons {
  /* Is there a better layout option for content in a grid? */
  display: flex;
  justify-content: end;
}

/* dialog {
  margin-top: min(20vh, 200px);
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  border-color: lightgray;
  padding: 20px;
  max-width: 50vw;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

form {
  display: inline-block;
} */

.cards {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:min(.4vw,6px);
}

.cards div {
  flex-basis: 12%;
  min-width: 80px;
}

.faceUp {
  background:none;
}

.faceUp :first-child {
  visibility: visible;
}

.faceDown {
  background-image: url("../media/bg.svg");
  background-size: 30%;
  border-radius: 10px;
}

.cleared {
  visibility: hidden;
}

.cards img {
  visibility: hidden;
  -webkit-user-drag: none;
}

.endScreen {
  visibility: hidden;
}

footer, a {
  margin-top: 2vh;
  color:darkgrey
}